<section class="section single-page">
    <!-- Section-Title -->
    <div class="section-title">
      <h1>contact me</h1>
      <div class="underline"></div>
    </div>
    <!-- End of Section-Title -->
    <div class="section-center page-info">
      <p>
        If you want to know more, you can send me an email at
        <a href="mailto:rohanway2@gmail.com" target="_blank"
          >@mail</a
        >.
      </p>
      <p>
        You can also reach me by calling
        <a href="tel:+918805694137" target="_blank">@call</a>.
      </p>
      <p> <b>Office <Address>4th Floor , Shope No.1 ,Pravin Plazza, Motha Collection ,Baramati 413102</Address></b></p>
    </div>
  </section>