.section {
    padding: 5rem 0;
  }
  
  .section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }
  /* added during recording */
  .underline {
    height: 0.125rem;
    width: 5rem;
    margin-bottom: 0.75rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
  }
  .section-title {
    margin-bottom: 4rem;
    text-align: center;
  }