header {
    background-color: #333;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    color: #fff;
    padding: 1em;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  

  #home {
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #home .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  #home .slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 12s infinite;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  #home .social-icons {
    position: absolute;
    bottom: 2em;
    right: 2em;
    display: flex;
  }
  
  #home .social-icons a {
    display: block;
    margin-right: 1em;
    font-size: 2em;
    color: #fff;
    text-decoration: none;
  }
  
  #home .social-icons a:hover {
    color: #333;
  }
  